@model IEnumerable<DeliveryClient.Models.User>

@{
    ViewData["Title"] = "GetAllUsers";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Data = HttpContextAccessor.HttpContext.Session.GetString("usertype");
}
@if (ViewBag.Data == "Admin")
{
    @Html.Partial("_AdminNavBar");
    <h1>List of All Users</h1>
    <style>
        col-color-1 {
            background-color: gainsboro;
            color: blue;
        }

        .col-color-2 {
            background-color: firebrick;
            color: white;
        }

        tr:hover {
            background-color: darkgrey;
        }
    </style>

    <p>
        <a asp-action="AdminCreate">Create New</a>
    </p>
    <table class="table" border="1">
        <thead>
            <tr class="col-color-2">
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="background-color:gainsboro">
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserType)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "AdminEdit", new { id = item.UserId }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_NavBar")
    <h1 style="color:red">"You are Not Authorized to View this page! Login to View"</h1>
}